body { 
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    background-color: #808080;
}

.bodyCSS { 

}

#nameHTML { 
    font-family: "Quicksand", sans-serif; 
    font-size: 50px;
}

#nameCSS { 
    margin-top: 100%;
    font-family: "Quicksand", sans-serif; 
    font-size: 25px;
}

/*  Nav */ 

nav { 
    background-color: #22422a;
    padding: 10px;
    border-bottom: solid #cafafa 5px ;
    display: flex;
    justify-content: right;
}

nav a {
    text-decoration: none; // removes the underline from the text
    color: white; // sets the default color of the text
    transition: color 0.3s ; // adds a delay between color switching of the text
}

nav a:visited {  
    color: white; 
} 

nav a:hover {
    color: #006666; // changes the color of the text on a hover
}

/* Footer */ 

footer { 
    background-color: #22422a;
    padding: 10px;
    border-top: solid #cafafa 5px;
    //border-bottom: solid #006666 5px;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
footer a:hover {
    color: #006666;
}

/* Sections */

section { 
    color: #003300;
    font-size: 12px;
}
section a { 
    text-decoration: none;
    color: #006666;
    transition: color 0.3s;
}

section a:hover { 
    color: black;
}

section div { 
    padding: 0px;
}

.about, #socials div {
    padding: 20px;
}

.contact { 
    margin-top: 25%; /* Add margin to push the contact section below the navigation bar */
    padding: 20px; /* Add padding for spacing inside the contact section */
}

/* Intro */ 

.intro, .about, #socials { 
    background-color: #808080;
}

.intro {
    font-family: "Quicksand", sans-serif; 
    font-size: 14px;
    position: relative;
    text-align: center;
    color: white;
}

.introText { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.firstImage {
    border-bottom: 3px dashed #cafafa;
}
.secondImage {
    position: absolute;
    top: 50px;
    right: 50px;
}


/* Horizontal Rules */

hr { 
    border-top: 2px solid #003300;
    
}

.about p { 
    color: white;
}

#leadIn {
    text-align: center;
}
#leadIn img { 
    border-radius: 50%;
}

/* Cards */

.one-col { 
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.threeCol {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Create a flexible grid with 300px minimum and evenly distribute available space */
    gap: 20px; 
    justify-content: center; /* Center-align the cards horizontally */
    justify-items: center;
}

.card {
    display: flex-inline;
    background-color: #808080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75); // "a" sets the darkness of the shadow
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card li { 
    margin: 15px;
}

.year { 
    font-weight: bold;
    color: black;
    display: inline;
    text-align: right;
}

.one-col .card { 
    height: 100%;
}

.one-col label { 
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 20px;
}

.one-col input {
    display: inline-block;
    width: 200px;
    margin: 20px;
}


.one-col textarea { 
    display: inline-block;
    float: right;
    width: 200px;
    margin: 20px;
}

#socials { 
    color: white;
}







  
  
  
  
  